/*body 
{
    position: absolute;
    font-size: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    float: none;
}*/

.firstNavLink
{
	border: 1px solid #000; /* Рамка */
	display: inline-block;
	margin: 10px -2px;
	padding: 10px 15px; /* Поля */
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
	text-decoration: none; /* Убираем подчёркивание */
	color: #a00;
}

.secondNavLink
{
	border: 1px solid #000; /* Рамка */
	display: inline-block;
	margin: 10px -2px;
	padding: 10px 15px; /* Поля */
	background: linear-gradient(to top, #fff, #eee); /* Градиент */
	text-decoration: none; /* Убираем подчёркивание */
	color: #ff8000; /* Цвет текста */
}

#thisLink
{
	border: 1px solid #000; /* Рамка */
	display: inline-block;
	margin: 10px -2px;
	padding: 10px 15px; /* Поля */
	text-decoration: none; /* Убираем подчёркивание */
	background: linear-gradient(to bottom, #fff, #ddd); /* Градиент */
	color: #008040; /* Цвет текста */
	
}

#thisLink2
{
	border: 1px solid #000; /* Рамка */
	display: inline-block;
	margin: 10px -2px;
	padding: 10px 15px; /* Поля */
	text-decoration: none; /* Убираем подчёркивание */
	background: linear-gradient(to top, #f1f1f1, #e5e5df); /* Градиент */
	color: #d9be00;
}

.firstNavLink:hover 
{
	background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
	color: #a00;
}
   
.secondNavLink:hover 
{
	background: linear-gradient(to top, #f1f1f1, #e5e5df); /* Градиент */
	color: #d9be00;
}
.links
{
	text-decoration: none; /* Убираем подчёркивание */
	/*color: #3F48CC; /* Цвет текста */
	color: #1E71B8;
	/*border-bottom: 1px double #ccc;*/
	display: inline-block;
}

#result
{
	position: fixed;
	width: 40%;
	left: 30%;
	display: none;
}

#backgroundResult
{
	background-color: ccc;
}

#site
{
    position: relative;
    /*top:10%;*/
	float: left;
    /*left:5%;*/
    width:52%;
}

#videoblock
{
    position:relative;
    width:100%;
    /*background-color:Black;*/
}

#playlink
{
    position: absolute;
    top: 45%;
    left: 45%;
    width:10%;
    height:10%;
    display: none;
    cursor: pointer;
    opacity: 0.7;
}

#videoblock video
{
    position:relative;
    width:100%;
	display: block;
}

#buttonbar
{
    /*position:absolute;
    bottom: 0px;*/
	position:relative;
    height: 30px;
	/*margin-top: 5px;*/
    width:100%;
    border-color: rgb(0,0,0);
    border-width: 10px;
    background-color:rgb(255,255,255);
	/*opacity: 0.7;*/
}

#loadblock {
background: #ccc;
display: none;
text-align: center;
width: 100%;
height: 100%;
}

#play
{
    float: left;
    /*width:30px;*/
	width:6%;
    /*height:30px;*/
	height:100%;
	min-height: 20px;
    cursor: pointer;
}

#videoRange
{
    float: left;
    /*height:30px;*/
	height:100%;
	min-height: 20px;
    width:30%;
    cursor: pointer;
	padding-top:0px;
	padding-bottom:0px;
    box-shadow: none;
}

#time
{
    float: left;
    padding-top:1%;
    /*padding-left: 5px;*/
	padding-left: 1%;
	padding-right: 1%;
	width: 3.5em;
	max-width:18%;
    /*height:40px;*/
	/*height:100%;*/
	min-height: 20px;
    cursor: default;
	text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	font-size: 100%;
}

#fullTime
{
    float: left;
    padding-top:1%;
    /*padding-left: 5px;*/
	padding-left: 1%;
	padding-right: 1%;
	width: 3.5em;
	max-width:18%;
    /*height:40px;*/
	/*height:100%;*/
	min-height: 20px;
    cursor: default;
	text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#audioFull
{
    float: right;
    /*width:30px;*/
	width: 6%;
    /*height:30px;*/
	height:100%;
	min-height: 20px;
    cursor: pointer;
}

#audioRange
{
    float: right;
    /*height:30px;*/
	height:100%;
	min-height: 20px;
    width:10%;
    cursor: pointer;
	padding-top:0px;
	padding-bottom:0px;
    box-shadow: none;
}

#videoFull
{
    float: right;
    /*width:30px;*/
	width: 6%;
    /*height:30px;*/
	height:100%;
	min-height: 20px;
}

#slide
{
    position: relative;
    float:right;
    width:100%;
    height:360px;
	overflow:auto;
}

/*#slide img
{
    position: absolute;
    width:100%;
    height:100%;    
}*/

#blackboard 
{
	position: absolute;
	width: 99%;
	height: 99%;
	margin-top: 0px;
	margin-left: 0px;
	border: 1px solid black;
}

#list
{
    height:140px;
    border: 1px solid #ddd;
    overflow-y:hidden;
    overflow-x:auto;
    background-color: #fff;
}


#inlist
{
   height:120px; 
}

#pictures
{
    width:100%;
    height:110px;
}

#pictures img
{
    position:relative;
    display:inline-block;
    height:100px;
    width:133px;
    float:left;
    left:0px;
    top:0px; 
    cursor: pointer;
	border: none;
}

#timelist
{
    width:100%;
    height:20px;
}

#timelist p
{
   position:relative;
   bottom:20px;
   height:20px; 
   width: 133px;
   float:left;
   text-align:center;
   cursor: default;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#menu
{
  float:right;
  /*width: 30px;
  height: 30px;*/
  width:6%;
  height:100%;
  min-height: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#menu li {
    padding: 0;
	height:100%;
}

#submenu
{
    position: absolute;
    width: 80px;
    margin: 0;
    padding: 0;
    right: 0px;
    background-color:Gray;
}

#submenu li
{
    list-style-type: none;
    height: 20px;
}

#videoClass
{
  /*width: 30px;
  height: 30px;*/
	height:100%;
	width: 100%;
	padding:0px;
}

#canvasLoop
{
	display: none;
}